# Python
__pycache__/
*.pyc

# Virtual envs
.venv/
env/
.env

# Datasets
dataset/

# Models
*.pth
*.pt

# Configs
*.log
*.csv

# IDE
.vscode/
.idea/

results/
plots/
model/
models/
resultados/
Ray
cuda-keyring_1.1-1_all.deb
csv
inference_results/
jupyters/